.container{
    min-width: 650px;
    @include m(footer){
        padding-bottom: 70px;
    }
}
.part-one{
    @include e(main){
        margin: 0 auto ;
        max-width: 410px;
    }
}
.part-two{
    @include e(btn){
        width: 100%;
    }
    @include e(left){
        flex-direction: row;
    }
    @include e(right){
        flex-direction: row;
    }
}

.part-three{
    @include e(item){
        
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    @include e(img){
        width: 260px;
    }
}

.part-four{
    @include e(goods){
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 30px;
       
    }
    @include e(item){
        
    }
 
}
.part-five{
    @include e(subcontainer){
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    @include e(item){
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
.part-seven{
    @include e(item){
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 0;

    }
    @include e(group){
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 30px;
    }
}
.container{
    @include m(footer){
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 30px;
    }
}
.footer{
    @include e(bottom){
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}
.footer-left{
    margin: 0;
}
.footer-center-left{
    margin: 0;
}
.footer-right{
    margin: 0;
    padding: 0;
}
.footer-center-right{
    margin: 0;
   
}