.filter__item {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 700;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 15px;
  background-color: #f7fbff;
  border-radius: 5px;
  line-height: 1.7rem;
}
.filter__item_red {
  background-color: #ff5134;
  color: #f7fbff;
}
