.container{
    
    padding: 0 75px;
    @include m(footer){
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    @include m(pd){
        padding-bottom: 70px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 30px;
    }
    @include m(first){
        padding: 0 15px;
        bottom: 142px;
    }
    @include m(four){
        padding: 0 15px;
    }
    @include m(seven){
        padding: 0 15px;
    }
    @include m(part-five){
        padding-top: 100px;
        padding-bottom: 70px;
    }
    @include m(eight){
        padding: 15px;
    }
    @include m(footer){
        padding: 100px 15px 70px 15px;
    }
}

.header{
    @include e(search){
        display: flex;
        align-items: center;
    }
    @include e(btn){
    padding: 14px 57px;
    font-size: 15px;
    font-weight: 500;
    line-height: normal;
    color: #fff;
    background-color: #1e2843;
    border: none;
    }
    @include e(input){
        height: 50px;
        border: 2px solid #ddd;
        padding: 0 25px;
        width: 100% ;
    }
    @include e(nav-item){
        @include m(invis){
            display: none;
        }
    }
    @include e(form){
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

}
.part-one{
    
    @include e(main){
        max-width: 600px;
    }
    @include e(title){
        font-size: 72px;
        font-weight: 700;
        line-height: 90px;
    }
}
.part-two{
    
    @include e(container){
        display: grid;
        grid-template-columns: 1fr 1fr ;
        opacity: 0.8;        
    }
}
.part-three{
   
    @include e(item){
        padding: 15px;
        margin-bottom: 0;
    }
    @include e(img-container){
        width: 190px;
    }
    @include e(img){
        width: 100%;
        @include m(last){
            height: 100px;
        }
    }

}
.part-four{
    @include e(goods){
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    @include e(img-container){
        width: 210px;
        height: 210px;
    }
    @include e(subcontainer){
        display: flex;
        justify-content: space-between;
    }
    @include e(subtitle){
        transition: 0.5s;
    }

}
.part-five{
    @include e(subcontainer){
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    @include e(item){
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    @include e(subtitle){
        text-align: center;
    }
}
.part-seven{
@include e(group){
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
@include e(img){
    width: 215px;
}
}
.part-eight{
 @include e(group){
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
 }

}
.footer{
    @include e(link){
        transition: 0.5s;
    }
}
.footer-left{
    padding: 0 10px;
    @include e(link){
        transition: 0.7s;
    }
}
.footer-center-left{
    padding: 0 10px;
    @include e(link){
        transition: 0.5s;
    }
}
.footer-center-right{
    padding: 0 10px;
    @include e(link){
        transition: 0.5s;
    }
}
.footer-right{
    padding: 0 10px;
    @include e(link){
        transition: 0.5s;
    }
}
.filter{
    @include e(item){
        transition: .5s;
    }
}
.filter__item:hover{
    background-color: #ff5134;
    color: #fff;
}
// hover
.header__btn {  
    transition: 0.5s;
    &:hover,
    &:focus { 
      border-color: #ff5134;
    }
  }
  
  .header__btn:hover,
  .header__btn:focus {
    box-shadow: inset 10rem 0 0 0 #ff5134;
    color: #fff; 
  }

  .part-one__btn {  
    transition: 0.5s;
    &:hover,
    &:focus { 
      border-color: #1e2843;
    }
  }
  .part-one__btn:hover,
  .part-one__btn:focus {
    box-shadow: inset 12rem 0 0 0 #1e2843;
    color: #fff; 
  }
  .part-two__search {  
    transition: 0.5s;
    &:hover,
    &:focus { 
      border-color: #2c3756;
    }
  }
  .part-two__search:hover,
.part-two__search:focus {
  box-shadow: inset 0 4em 0 0 #2c3756;
}
// .part-three__shopping

.part-three__shopping {  
    transition: 0.5s;
    &:hover,
    &:focus { 
      border-color: #1e2843;
    }
  }
  
  .part-three__shopping:hover,
  .part-three__shopping:focus {
    box-shadow: inset 9rem 0 0 0 #1e2843;
    color: #fff; 
  }

@keyframes part-four-animation {
    from{
        transform: rotateY(0deg);
    }
    to{
        transform:  rotateY(360deg);
    }
}
.part-four__item:hover .part-four__photo{
    animation: part-four-animation 1s;
}
.part-four__subtitle:hover{
    color: #ff5134;
}

.a:hover .a__img{
    animation: part-four-animation 1s; 
}
.part-seven__item:hover,
.part-seven__item:focus{
   
    animation:  part-eight-img 0.5s linear forwards; 
}
.part-eight__item:hover,
.part-eight__item:focus{
   
    animation:  part-eight-img 0.5s linear forwards; 
}

@keyframes part-eight-img {
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.05);
    }
}
.footer-left__link:hover{
    border: #ff5134;
    background-color: #ff5134;
    opacity: 1;
}
.footer-center-left__link:hover{
    color: #ff5134;
    opacity: 1;
}
.footer-center-right__link:hover{
    color: #ff5134;
    opacity: 1;
}
.footer-right__link:hover{
    color: #ff5134;
    opacity: 1;
}
.footer__link:hover{
    color: #ff5134;
    opacity: 1;  
}

.header__item:hover .icon-facebook:before{
    color: #1e2843;
}
.header__item:hover .icon-twitter:before{
    color: #1e2843;
}
.header__item:hover .icon-google-plus:before{
    color: #1e2843;
}
.header__item:hover .icon-youtube:before{
    color: #1e2843;
}
.header__nav-item:hover .icon-cart:before{
    color: #ff5134;
}
.header__nav-item:hover .icon-user:before{
    color: #ff5134;
}
.header__nav-item:hover .icon-search:before{
    color: #ff5134;
}

  .animation{
    transform: translate(0px, 125%);
    opacity: 0;
    transition: all 1.5s ease 0s;
  @include m(delay){
    transition-delay: 0.1s;
  }
  @include m(delaytwo){
    transition-delay: 0.2s;
  }
  @include m(delaythree){
    transition-delay: 0.3s;
  }
  }

  .active-animation{
    transform: translate(0px, 0px); 
    opacity:1;
}
.slider__item:hover .slider__img{
    animation: part-four-animation 1s;
}
.burger-prebottom__link{  
    transition: 0.5s;
    &:hover,
    &:focus { 
      border-color: #1e2843;
    }
  }
.burger-prebottom__link:hover,
.burger-prebottom__link:focus {
  box-shadow: inset 0 3.1rem  0 0 #1e2843;
  color: #fff; 
}
.header__form-left{
    position: relative;
}
.header__res{
    position: absolute;  
    
    z-index: 1;
    top: 50px;
    left: 2px;
    background: white;
    width: 100%;
}
.search__link{
    color: black;
    text-decoration: none;
    
}
.search__item{
    padding: 5px 5px 5px 10px; 
}