.part-three__item {
  padding: 40px;
  background-color: #f7fbff;
  margin-bottom: 30px;
}
.part-three__subtitle {
  margin-bottom: 10px;
  font-size: 16px;
  color: #1e2843;
}
.part-three__title {
  margin-bottom: 10px;
  font-size: 30px;
  color: #1e2843;
}
.part-three__price {
  color: #ff5134;
  margin-bottom: 25px;
  font-size: 24px;
  font-weight: 700;
}
.part-three__shopping {
  background-color: #ffba00;
  padding: 13px 35px;
  color: #fff;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  border: none;
  border-radius: 5px;
}
.part-three__img-container {
  margin-top: 50px;

  display: flex;
  justify-content: right;
}
.part-three__img {
  width: 210px;
}
