.part-four {
  padding-bottom: 70px;
}
.part-four__title {
  font-size: 36px;
  font-weight: 700;
  color: #1e2843;
  line-height: 50px;
  margin-bottom: 55px;
}
.part-four__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #ebebeb;
  margin-bottom: 30px;
}
.part-four__bottom {
  background: #f7fbff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0px;
  width: 100%;
}
.part-four__subtitle {
  margin-bottom: 10px;
}
.part-four__img-container {
  width: 270px;
  height: 270px;
}
.part-four__photo {
  width: 100%;
  height: 100%;
}
.filter__list {
  display: flex;
  align-items: center;
  flex-direction: column;
}
