@font-face {
    font-family: 'icomoon';
    src:  url('../../../fonts/icomoon.eot?nwvur4');
    src:  url('../../../fonts/icomoon.eot?nwvur4#iefix') format('embedded-opentype'),
      url('../../../fonts/icomoon.ttf?nwvur4') format('truetype'),
      url('../../../fonts/icomoon.woff?nwvur4') format('woff'),
      url('../../../fonts/icomoon.svg?nwvur4#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-cart:before {
    content: "\e93a";
    font-size: 24px;
    color: #000;
    transition: 0.5s;
  }
  .icon-credit-card:before {
    content: "\e93f";
    font-size: 60px;
    color: #fff;
  }
  .icon-phone:before {
    content: "\e942";
    font-size: 60px;
    color: #fff;
  }
  .icon-phone_def:before{
    content: "\e942";
    font-size: 16px;
  }
  .icon-bubbles3:before {
    content: "\e96f";
  }
  .icon-user:before {
    content: "\e971";
    font-size: 24px;
    color: #000;
    transition: 0.5s;
  }
  .icon-search:before {
    content: "\e986";
    font-size: 24px;
    color: #000;
    transition: 0.5s;
    }
  .icon-search_btn:before {
    content: "\e986";
    font-size: 14px;
    margin-right: 10px;
    }
  .icon-zoom-in:before {
    content: "\e987";
  }
  .icon-truck:before {
    content: "\e9b0";
    color: #fff;
    font-size: 60px;
  }
  .icon-loop2:before {
    content: "\ea2e";
    color: #fff;
    font-size: 60px;
  }
  .icon-arrow-up2:before {
    content: "\ea3a";
  }
  .icon-arrow-right2:before {
    content: "\ea3c";
    margin-left: 10px;
  }
  .icon-google-plus:before {
    content: "\ea8b";
    font-size: 18px;
    color: #fff;
    transition: 0.5s;
  }
  .icon-facebook:before {
    content: "\ea90";
    font-size: 18px;
    color: #fff;
    transition: 0.5s;
  }
  .icon-twitter:before {
    content: "\ea96"; 
    font-size: 18px; 
    color: #fff;
    transition: 0.5s;
  }
  .icon-youtube:before {
    content: "\ea9d";
    font-size: 18px;
    color: #fff;
    transition: 0.5s;
  }

  .icon-dribbble:before {
    content: "\eaa7";
    font-size: 18px; 
  }

  .icon-pinterest:before {
    content: "\ead1";
    color: #fff;
  }


  .icon-compass:before {
    content: "\e949";
    color: #fff;
  }
  .icon-mail2:before {
    content: "\ea84";
    color: #fff;
  }
  

  .icon-dribbble_nav-bar:before {
    content: "\eaa7";
    font-size: 16px;
    color: #fff; 
  }
  .icon-youtube_nav-bar:before {
    content: "\ea9d";
    font-size: 16px;
    color: #fff;
    
  }
  .icon-twitter_nav-bar:before {
    content: "\ea96"; 
    font-size: 16px; 
    color: #fff;
    
  }
  .icon-facebook_nav-bar:before {
    content: "\ea90";
    font-size: 16px;
    color: #fff;
    
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $baseFontFamily;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
body{
    overflow: hidden;
}
.header{
    position: absolute;
    top: 46px;
    display: block;
    width: 100%;
    z-index: 2;
    background-color: none;
    min-width: 300px;
    margin: 0 auto;
    padding: 0 15px;
    @include e(left){
        margin: 15px; 
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;       
    }
    @include e(line){
        width: 20px;
        height: 2px;
        background-color: white;
    }
    @include e(bottom){
        background-color: #ff5134;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    @include e(list){
        display: flex;
        flex-direction: row;

    }
    @include e(item){
        margin-right:20px ;
        
    }
    @include e(img-container){
        width: 160px;
        margin: 25px 0 25px 20px;
    }
    @include e(img){
        width: 100%;
        height: 100%;
    }
    @include e(nav-top){
        display: none;
    }
    @include e(top){
        background-color: #fff;
        padding: 0 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    @include e(search){
        display: none;
    }   
    @include e(burger){
        display: block;
        position: relative;
        width: 30px;
        height: 21px;
        position: relative;
        z-index: 3;
        @include m(white){
            height: 21px;
        }
        @include m(main){
            height: 20px; 
        }
    }
    @include e(span){
        position: absolute;
        background-color: black;
        left: 0;
        height: 2px;
        width: 100%;
        top: 9px;
        transition: all 0.3s ease 0s;
        @include m(white){
            background-color: #fff;
        }
    }
    @include e(burger-right){
        display: block;
        position: relative;
        width: 30px;
        height: 21px;
        position: relative;
        z-index: 3;   
        margin-right: 10px;     
    }
}
.header__burger::before,
.header__burger::after{
  content: '';
  background-color: black;
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  transition: all 0.3s ease 0s;
}
.header__burger_white::before,
.header__burger_white::after{
  background-color: white;
}

.header__burger::before{
  top: 0;
}
.header__burger::after{
  bottom:0 ;
}

.header__burger-right::before,
.header__burger-right::after{
  content: '';
  background-color: black;
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  transition: all 0.3s ease 0s;
}
.header__burger-right::before{
  top: 0;
}
.header__burger-right::after{
  bottom:0 ;
}
.nav-bar{
    display: none;
}
.social{
    margin: 20px 0;
}
.part-one{
    @include e(main){
    padding: 0 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    }
    @include e(title){
        text-align: center;
        color: #fff;
        font-size: 50px;
        line-height: 60px;
        margin-bottom: 30px;

    }
    @include e(text){
        color: #fff;
        text-align: center;
        font-size: 16px;
        font-weight: 400;
        line-height: 34px;
        margin-bottom: 15px;
        font-family: $secondFontFamily;
    }
    @include e(link-box){
        padding-top: 20px;
    }
    @include e(btn){
        border-radius: 5px;
        display: flex;
        flex-direction: row;
        align-items: center;
        background: #ff5134;
        padding: 13px 35px;
        color: #fff;
        margin: 0 10px 10px;
    }
}
.container{
    margin: 0 auto;
    padding: 0 15px;
    @include m(pd){
        padding-top: 50px;
        padding-bottom: 70px;
    }
    @include m(part-five){
        padding-top: 100px;
        padding-bottom: 70px;
    }
    @include m(footer){
        padding-top: 120px;
        padding-bottom: 15px;
    }
    @include m(first){
        position: relative;
        bottom: 2px;
    }
}
// part 2
.part-two{
    @include e(container){
        padding: 40px;
        background: rgb(30, 40, 67);
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    // @include e(btn){
    //     display: flex;
    //     align-items: center;
    //     justify-content: space-between;
    //     padding: 13px 20px;
    //     border: 1px solid #2c3756;
    //     border-radius: 0;
    //     font-size: 14px;
    //     color: #fff;
    //     font-weight: 700;
    //     background-color: #2c3756;
    //     margin: 0px 10px 10px 10px;
    //     width: 100%;
    //     line-height: 24px;
    // }
    @include e(select){
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 13px 20px;
         border: none;
        border-radius: 0;
        font-size: 14px;
        color: #fff;
        font-weight: 700;
        background-color: #2c3756;
        margin: 0px 10px 10px 10px;
        width: 100%;
        line-height: 24px;
        
    }
    // @include e(triangle){
    //     border-left: 5px solid transparent;
    //     border-right: 5px solid transparent;
    //     border-top: 5px solid white;
    // }
    @include e(search){
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
        padding: 13px 20px;
        background-color: #ff5134;
        border: none;
        color: #fff;
        font-size: 14px;
        line-height: 24px;
        font-size: 700;
        width: 100%;
        margin: 0px 10px 10px 10px;
        font-weight: bold;    
    }
    @include e(left){
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    @include e(right){
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}
// part 3

.part-three{
    display: flex;
    align-items: center;
    flex-direction: column;
    @include e(item){
        padding: 40px;
        background-color: #f7fbff;
        margin-bottom: 30px;
    }
    @include e(subtitle){
        margin-bottom: 10px;
        font-size: 16px;
        color: #1e2843;
    }
    @include e(title){
        margin-bottom: 10px;
        font-size: 30px;
        color: #1e2843;
    }
    @include e(price){
        color: #ff5134;
        margin-bottom: 25px;
        font-size: 24px;
        font-weight: 700;
    }
    @include e(shopping){
        background-color: #ffba00;
        padding: 13px 35px;
        color: #fff;
        font-size: 14px;
        line-height: 24px;
        font-weight: 700;
        border: none;
        border-radius: 5px;
    }
    @include e(img-container){
        margin-top: 50px;
        
        display: flex;
        justify-content: right;
    }
    @include e(img){
    width: 210px;
       
    }
}
// part 4
.part-four{
    padding-bottom: 70px;
    @include e(title){
        font-size: 36px;
        font-weight: 700;
        color: #1e2843;
        line-height: 50px;
        margin-bottom: 55px;
    }
    @include e(item){
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 2px solid #ebebeb;
        margin-bottom: 30px;  
    }
    @include e(bottom){
        background: #f7fbff;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px 0px;
        width: 100%;
    }
    @include e(subtitle){
     margin-bottom: 10px;
    }
    @include e(img-container){
        width: 270px;
        height: 270px;
    }
    @include e(photo){
        width: 100%;
        height: 100%;
    }
}

.filter{
    @include e(list){
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    @include e(item){
        padding: 10px 20px;
        font-size: 16px;
        font-weight: 700;
        border-radius: 5px;
        cursor: pointer; 
        margin-bottom: 15px;
        background-color: #f7fbff;
        border-radius: 5px;
        line-height: 1.7rem;
    @include m(red){
        background-color: #ff5134;
        color: #f7fbff;
    }
    }
}

// part 5
.part-five{   
   background-color: #ff5134;
   @include e(item){
    margin: 0 15px 30px;
 }
 @include e(subcontainer){
    display: flex;
    flex-direction: column;
    align-items: center;
 }
 @include e(item){
    display: flex;
    flex-direction: column;
    align-items: center;
}
 @include e(subtitle){
    color: #fff;
    font-size: 20px;
    margin-top: 20px;
    font-family: $secondFontFamily;
 }
}
// part 6 
.part-six{
    padding-top: 100px;
    padding-bottom: 70px;
    @include e(title){
        font-size: 36px;
        font-weight: 700;
        color: #1e2843;
        margin-bottom: 55px;
    }
}
.slider{

    @include e(container){
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 12px;
    }
    @include e(left){
        border: 1px solid #eceded;
        border-radius: 5px;
        margin-right: 20px;
        width: 140px;
        height: 140px;
    }
    @include e(link){
        color: #1e2843;
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 10px;
        @include m(show){
            color: #ff5134;
        }
    }
    @include e(title){
        margin-bottom: 10px;
    }
    @include e(text){
        color: #1e2843;
        @include m(mb){
            margin-bottom: 10px;
        }
    }
    @include e(item){
         background-color: #f7fbff;
    border-radius: 5px;
    margin-bottom: 40px;   
    }
    @include e(right){
        margin-top: 10px;
    }
    @include e(img){
        width: 140px;
        height: 138px;
        border-radius: 5px;
    }
    @include e(img-container){
        background: #fff;
    }

}

// part 7
.part-seven{
    background: #f7fbff;
    padding-top: 100px;
    padding-bottom: 70px;
    @include e(title){
        font-size: 36px;
        font-weight: 700;
        color: #1e2843;
        margin-bottom: 55px;
    }
    @include e(group){       
        display: grid;
    }
    @include e(item){
        display: flex;
        align-items: center;
        justify-content: center;
        background: #fff;
        border: 2px solid #efefef;
        margin-bottom: 30px;
    }
}
// part 8
.part-eight{
    
    padding-top: 100px;
    padding-bottom: 70px;
    @include e(item){
        margin-bottom: 30px;
    }
    @include e(title){
        font-size: 36px;
        font-weight: 700;
        color: #1e2843;
        margin-bottom: 55px;
    }
    @include e(subcontainer){
        padding: 30px;
        // background: #f4f8fc;
    }
    @include e(top){
        display: flex;
        flex-direction: row;
        align-items:left ;
        margin-bottom: 20px;
    }
    @include e(subtitle){
        margin-bottom: 5px;
        font-size: 20px;
        font-weight: 500;
        color: #1e2843;
        font-family: $secondFontFamily;
        font-weight: bold;
    }
    @include e(date){
        color: #ff5134;
        font-size: 14px;
        font-weight: bold;
        font-family: $secondFontFamily;
    }
    @include e(text){
        font-weight: 500;
        color: #1e2843;
        font-size: 22px;
        font-family: $secondFontFamily;
        font-weight: bold;
        line-height: 30px;
    }
    @include e(img){
        width: 100%;
           
    }
    @include e(user){
        border-radius: 50%; 
    }
    @include e(left){
        margin-right: 20px;
    }
    @include e(item){
        background: #f4f8fc;
    }
}


//  footer
 .footer{
    background: #1e2843;

 }
 .footer-left{
    margin-bottom:30px ;
    @include e(img-container){
        margin-bottom: 45px;
    }  
    @include e(text){
        color: #fff;
        opacity: 0.6;
        margin-bottom: 35px;
        font-size: 16px;
        line-height: 30px;
        font-weight: 400;
        font-family: $secondFontFamily;
    } 
    @include e(item){
        margin-right: 20px;
        
    }
    @include e(group){
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    @include e(link){
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        border: 1px solid rgb(213, 213, 213);
        width: 40px;
        height: 40px;
        color: white;
        opacity: 0.6;
    }
    @include e(img-container){
        width: 215px;
    }
    @include e(img){
        width: 100%;
    }
 }
 .footer-center-left{
    margin-bottom: 30px;
    @include e(title){
        font-size: 24px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 30px;
    }
    @include e(item){
        margin-bottom: 12px;
    }
    @include e(link){
        color: #fff;
        opacity: 0.6; 
        font-size: 16px;
    }
 }
.footer-center-left__item:last-child{
    margin: 0;
}
.footer-center-right{
    margin-bottom: 30px;
    @include e(title){
        font-size: 24px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 30px;
    }
    @include e(item){
        margin-bottom: 12px;
    }
    @include e(link){
        color: #fff;
        opacity: 0.6; 
        font-size: 16px;

    }
 }
.footer-center-right__item:last-child{
    margin: 0;
}
.footer-right{
    padding-bottom: 70px;
    @include e(title){
        font-size: 24px;
        font-weight: 700;
        color: #fff; 
        margin-bottom: 30px;  
    }
    @include e(text){
        font-size: 16px;
        color: #fff;
        opacity: 0.6;
        margin-bottom: 15px;
    }
    @include e(top){
        margin-bottom: 40px;
    }
    @include e(link){
        color: #fff;
        font-size: 18px;
        font-weight: 700;
        @include m(address){
            font-family: $secondFontFamily;
        }
    }
    @include e(list){
        margin-bottom: 15px;
    }
}
.footer{
    @include e(bottom){
        border-top: 2px solid grey;
        margin: 15px;
        margin-bottom: 0;
        padding-top: 30px;
        padding-bottom: 15px;
    }
    @include e(copyright){
        margin-bottom: 20px;
    }
    @include e(text){
        color: #fff;
        font-size: 16px;
        opacity: 0.6;
    }
    @include e(nav){
        margin-bottom: 20px;
    }
    @include e(link){
        margin-right: 15px;
        padding-right: 15px;
        border-right: 1px solid grey;
        @include m(border){
            border: none;
        }
    }
    @include e(list){
        display: flex;
        flex-direction: row;
    }
    @include e(link){
        color: #fff;
        font-size: 16px;
        opacity: 0.6;
    }

}
// slider
.slick-slider{
	min-width: 0;
}
/* Ограничивающая оболочка */
.slick-list {
	overflow: hidden;
}
/* Лента слайдов */
.slick-track{
	display: flex;
	align-items: flex-start;
}

/* Слайд */
.slick-slide{}
/* Слайд активный */
.slick-slide.slick-active{}
/* Слайд основной */
.slick-slide.slick-current{}
/* Слайд по центру */
.slick-slide.slick-center{}

/* Стрелка */
.slick-arrow{}
/* Стрелка влево */
.slick-arrow.slick-prev{

}
/* Стрелка вправо */
.slick-arrow.slick-next{

}
/* Стрелка не активная */
.slick-arrow.slick-disabled{}

/* Точки */
.slick-dots{}
.slick-dots li{}
.slick-dots button{}

/* Конкретный слайдер */
.slider {
	position: relative;
	padding: 0px 60px;
}

@media (max-width:767px){
	.slider {
		padding: 0px 40px;
	}
}

.slider .slick-arrow{
	position: absolute;
	top: 50%;
	margin: -30px 0px 0px 0px;
	z-index: 1;
	font-size: 0;
	width: 30px;	
    background: #fff;
    
	height: 30px;
    border: 0;
}
.slider .slick-arrow.slick-prev{
	left: 0;
    
    border-right: 30px solid #ff5134;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    
}
.slider .slick-arrow.slick-next{
	right: 0;
    border-left: 30px solid #ff5134;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
}
.slider .slick-arrow.slick-disabled{
	opacity: 0.2;
}

.slider .slick-dots{
	display: flex;
	align-items: center;
	justify-content: center;
}
.slider .slick-dots li{
	list-style: none;
	margin: 0px 10px;
}
.slider .slick-dots button{
	font-size: 0;
	width: 10px;
	height: 10px;
	background-color: #fff;
	border-radius: 50%;
}

.slider .slick-dots li.slick-active button{
	background-color: transparent;
	border: 1px solid #fff;
}


.slider__item img{
	max-width: 100%;
}
.slider__item.slick-center{
	
}
// slider-top
.slider-top {
	position: relative;
	
}


@media (max-width:767px){

}

.slider-top .slick-arrow{
	position: absolute;
	top: 50%;
	margin: -30px 0px 0px 0px;
	z-index: 10;
	font-size: 0;
	width: 30px;	
    background: #fff;
    border-radius: 5px;
	height: 30px;
    border: 0;
}
.slider-top .slick-arrow.slick-prev{
	left: 0;
    
    border-right: 30px solid #ff5134;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    
}
.slider-top .slick-arrow.slick-next{
	right: 0;
    border-left: 30px solid #ff5134;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
}
.slider-top .slick-arrow.slick-disabled{
	opacity: 0.2;
}

.slider-top .slick-dots{
	display: flex;
	align-items: center;
	justify-content: center;
}
.slider-top .slick-dots li{
	list-style: none;
	margin: 0px 10px;
}
.slider-top .slick-dots button{
	font-size: 0;
	width: 10px;
	height: 10px;
	background-color: #fff;
	border-radius: 50%;
}

.slider-top .slick-dots li.slick-active button{
	background-color: transparent;
	border: 1px solid #fff;
}

.slider-top__item{
    padding: 250px 15px 50px;
    min-height: 968px;
    width: 1200px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background: url(../../../i/mainSlider.jpg) no-repeat;
    object-fit: contain;
    background-position: center ;

}
.slider-top__item_bg{
    padding: 250px 15px 50px;
    min-height: 968px;
    display: flex;
    width: 1200px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background: url(../../../i/mainSlider2.jpg) no-repeat ;
    object-fit: contain;
    background-position: center ;
    
}
// burger
.header{
    @include e(menu-left){
        
        position: fixed;
        top: 0;
        left: -110%;
        height: 100%;
        width: 360px;
        overflow: auto;
        background-color: $white;
        padding:  80px 30px;
        transition: all 0.3s ease 0s;
    }
}
.burger-top{
    margin-bottom: 35px;
    @include e(text){
        font-size: 18px;
        color: #ffffff;
        line-height: 30px;
    }
    @include e(icon){
        margin-bottom: 35px;
    }
    @include e(text){
        
    }
}
.burger-mid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    margin-bottom: 35px;
    @include e(item){
        background-color: #fff;
        padding: 30px 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

    }
    @include e(img-container){
        margin-bottom: 15px;
    }
}
.burger-bottom{
    @include e(item){
        display: flex;
        flex-direction: row;
        margin-bottom: 20px;
    }
    @include e(container){
        margin-left: 10px;
        display: flex;
        flex-direction: column;
    }
    @include e(text){
        color: #ffffff;
        font-size: 16px;
        line-height: 25px;
        font-weight: 400;
    }
    @include e(top){
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    @include e(title){
        color: #fff;
        font-weight: 700;
        line-height: 30px;
    }
    @include e(link){
        color: #ffffff;
        text-decoration: none;
    }
}
.burger-prebottom{
    @include e(link){
        background-color: #ffba00;
        display: inline-block;
        font-size: 14px;
        line-height: 24px;
        color: #fff;
        padding: 12.5px 35px;
        font-weight: 700;
        border-radius: 5px;
    }
}
    .header__menu-left.active{
        list-style: none;
        background: #ff5134;
        left: 0;
        z-index: 10;
      }
      body.lock{
        overflow: hidden;
      }
  
  .header__burger.active span{
    transform: scale(0) ;
  }
  .header__burger.active::before{
    transform: rotate(45deg) ;
    top:9px ;
  }
  .header__burger.active::after{
    transform: rotate(-45deg) ;
    bottom:9px ;
  }
//   burger-right
.burger-right{
        position: fixed;
        top: 0;
        right: -110%;
        height: 100%;
        width: 295px;
        overflow: auto;
        background-color: $white;
        transition: all 0.3s ease 0s;
    @include e(img-container){
        margin-top: 25px;
        margin-bottom: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    @include e(social){
        padding: 30px 25px;
    }
    @include e(list){
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    @include e(item){
        margin: 0 10px 10px;
        
    }
    @include e(group-item){
        border-top: 1px solid rgba(255, 255, 255, 0.10);
    }
    @include e(sub-link){
        line-height: 24px;
        padding: 10px 5px 10px 25px;
        font-size: 15px;
        font-weight: 500;
        color: #ffffff;
        text-transform: uppercase;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    @include e(more-container){
        transition: 0.3s ease;
        text-align: center;
        width: 32px;
        height: 32px;
        font-size: 16px;
        line-height: 32px;
        color: #ffffff;
        background: rgba(255, 255, 255, 0.10);
        cursor: pointer;
        border-radius: 2px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    @include e(more){
        border-bottom: 5px solid transparent;
        border-left: 5px solid white;
        border-top: 5px solid  transparent;
    }
}
.burger-right__group-item:last-of-type{
    border-bottom: 1px solid rgba(255, 255, 255, 0.10);
}
.burger-right.active{
    list-style: none;
    background: #202020;
    right: 0;
    z-index: 10;
  }
  .header__burger-right.active span{
    transform: scale(0) ;
  }
  .header__burger-right.active::before{
    transform: rotate(45deg) ;
    top:9px ;
  }
  .header__burger-right.active::after{
    transform: rotate(-45deg) ;
    bottom:9px ;
  }
//   acordeon

.sub-burger{
    
  @include e(item){
    
    border-top: 1px solid rgba(255, 255, 255, 0.10);
  }

  @include e(link){
    display: block;
    color: #fff;
    font-weight: 500;
    margin-left: 20px;
    padding: 10px 5px 10px 25px;
  }
  }
  
  .acordeon{
    max-height: 0;
    overflow: hidden;
    transition: all 0.3s ease;
  }
  .rotate .burger-right__more-container{

    transform: rotateZ(90deg);
  }
  @keyframes trian {
    from{
        transform: rotateZ(0deg);
    }
    to{
        transform: rotateZ(90deg);
    }
  }
  .part-two__btn{
    position: relative;
  }
  .part-two__btn:hover .list{
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
    transition: all 0.3s ease 0s;
    pointer-events: all;
  }

.header__res{
    position: relative;   
    top: 0;
    background: yellow;
}

.load{
    position:absolute;
    top:50%;
    left:50%;
    transform:
    translate(-50%, -50%);
    
    width:100px;
    height:100px;
  }
  
  .load :first-child{
    background:#19A68C;
    animation-delay:-1.5s;
}
  .load :nth-child(2){
    background:#F63D3A;
    animation-delay:-1s;
}
  .load :nth-child(3){
    background:#FDA543;
    animation-delay:-0.5s;
}
  .load :last-child{
    background:#193B48;
}
  
  @keyframes spin{
    0%,100%{transform:translate(0)}
    25%{transform:translate(160%)}
    50%{transform:translate(160%, 160%)}
    75%{transform:translate(0, 160%)}
  }
  .preloader{
    z-index: 3;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
  @include e(item){
        
        border:0;
        margin:0;
        width:40%;
        height:40%;
        position:absolute;
        border-radius:50%;
        animation:spin 2s ease infinite
    
  }
}
  .hide-preloader{
    display: none;
  }